.venv/
venv/
__pycache__/
*.pyc
data/chroma_db/
data/*.pkl
.cache/
model/
models/
*.gguf
*.bin
*.h5
*.safetensors
*.pt
*.pth
*.onnx
.env
test_call.py
*.pkl
*.mp3
static/
src/rag/rag_google.py
src/rag/rag_tools.py
src/rag/stt_whisper.py
data/ground_truth
data/arjun_bio.txt
data/नमूना_व्यक्तिगत_जीवनी_RAG_DATA_ONLY.pdf
static/
app_google.py
download_models.py
generate_static_audio.py
live_voice_agent.py
run.py
test_call.py